$yellow: #faff00;
$yellow--80: rgba(250, 255, 0, 0.8);
$mauve: #dd00f0;
$mauve--80: rgba(221, 0, 240, 0.8);
$black: #000000;
$blackish: #2d2d2d;
$white: #ffffff;
$grey: #919191;
$greyish: #909090;
$form-placeholder: rgba(221, 221, 221, 0.5);
$form-input: #dddddd;
$text-tweet: #4e4e4e;
